<form [formGroup]="form">
    <nz-form-item>
        <nz-form-label class="form-nz-form-label col-2">Movie</nz-form-label>
        <nz-form-control nzErrorTip="Please input movie name!" class="col-10">
            <nz-select class="information" nzPlaceHolder="Enter movie name" formControlName="movieId">
                <nz-option *ngFor="let movie of movies" [nzValue]="movie.id" [nzLabel]="movie.name"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label class="form-nz-form-label col-2">Date</nz-form-label>
        <nz-form-control nzErrorTip="Please input movie show date!" class="col-10">
            <nz-date-picker class="information" formControlName="timeStart" nzFormat="yyyy-MM-dd">
            </nz-date-picker>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label class="form-nz-form-label col-2">Cinema</nz-form-label>
        <nz-form-control nzErrorTip="Please input cinema!" class="col-10">
            <nz-select class="information" nzPlaceHolder="Enter cinema" formControlName="cinemaId"
                (ngModelChange)="changeCinema($event)">
                <nz-option [nzValue]="cinema.id" [nzLabel]="cinema.name" *ngFor="let cinema of cinemas">
                </nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label class="form-nz-form-label col-2">Room</nz-form-label>
        <nz-form-control nzErrorTip="Please input room!" class="col-10">
            <nz-select class="information" [(ngModel)]="form.value.roomId" nzPlaceHolder="Enter room"
                formControlName="roomId" (ngModelChange)="changeRoom()">
                <nz-option [nzValue]="room.id" [nzLabel]="room.name" *ngFor="let room of roomsFilter">
                </nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label class="form-nz-form-label col-2">Format Screen</nz-form-label>
        <nz-form-control class="col-10">
            <input class="information" nz-input nzPlaceHolder="Format screen by room"
                formControlName="formatMovieScreen" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label class="form-nz-form-label col-2">Time Start</nz-form-label>
        <nz-form-control nzErrorTip="Please input showtime!" class="col-10 information">
            <button nz-button ngModel="10:00" disabled>10:00</button>
            <button nz-button ngModel="13:00" disabled>13:00</button>
            <button nz-button ngModel="16:00" disabled>16:00</button>
            <button nz-button ngModel="19:00" disabled>19:00</button>
            <button nz-button ngModel="22:00" disabled>22:00</button>
            <button nz-button ngModel="01:00" disabled>01:00</button>
        </nz-form-control>
    </nz-form-item>
    <div *ngIf="isEdit" class="footer">
        <button nz-button nzType="primary" (click)="submit()">
            <i class="fa-solid fa-check-double" style="margin-right: 5px;"></i>Submit</button>
    </div>
</form>