@import "~ng-zorro-antd/ng-zorro-antd.min.css";
@import "~ng-zorro-antd/style/index.min.css";
/* Import base styles */
@import "~ng-zorro-antd/button/style/index.min.css";
/* Import one component's styles */
@import "~ng-zorro-antd/ng-zorro-antd.dark.css";

/* @import "~ng-zorro-antd/ng-zorro-antd.compact.css"; */
/* @import "~ng-zorro-antd/ng-zorro-antd.aliyun.css"; */
* {
    font-family: 'Quicksand', sans-serif;
}

:root {
    --primary-color: #00b4d8;
    --heavy-color: #0077b6;
    --light-text: #7c828d;
    --table-width: 100%;
}

body {
    -ms-overflow-style: none;
    /* cho  Internet Explorer, Edge */
    scrollbar-width: none;
    /* cho Firefox */
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
    overflow-x: hidden;
    /* cho Chrome, Safari, and Opera */
}

span {
    font-weight: bolder;
}