<div class="content">
    <img src="assets/notfound.jpg" alt="404 Page Not Found">
    <div class="text-center">
      <img style="height: 10rem; width: 17rem;" src="../../../assets/pagenotfound.png" class="d-block ml-auto mr-auto"  alt="404 Page Not Found">
      <div style="font-size: 2rem;">Sorry, the page you looking for is <span style="color: #3434e5;">not found</span></div>
      <div>404 ERROR. The Link you followed may be broken or the page may be has been removed.</div>
      <br>
      <div>You're here. Return to the homepage.</div>
        <button style="color: #3434e5;" nz-button nzType="default" (click)="backHome()">Go Back</button>
    </div>
</div>
