<nz-affix [nzOffsetTop]="0">
  <ul nz-menu nzMode="horizontal" nzTheme="dark" [nzInlineCollapsed]="isCollapsed" style="text-align: center;">
    <img src="../../../assets/HBQHM.png" alt="LogoHBQHM" class="logo">
    <img src="../../../assets/LogoText.png" alt="LogoHBQHM" class="logo_text nav-item">
    <li nz-menu-item routerLink="cinema" class="nav-item">
      <span>Cinema</span>
    </li>
    <li nz-menu-item routerLink="movie" class="nav-item">
      <span>Movie</span>
    </li>
    <li nz-menu-item routerLink="promotion" class="nav-item">
      <span>Promotion</span>
    </li>
    <li *ngIf="user.role != 2" nz-menu-item routerLink="membership" class="nav-item">
      <span>Membership</span>
    </li>
    <li nz-menu-item routerLink="support" class="nav-item">
      <span>Support</span>
    </li>
    <li *ngIf="user.role == 2" nz-submenu nzPlacement="bottomCenter" nzTitle="Staff">
      <ul>
        <li nz-menu-item routerLink="statistics">Statistics</li>
        <li nz-menu-item routerLink="management">Management</li>
      </ul>
    </li>
    <div *ngIf="checkUser == false" class="avatar">
      <span>Welcome </span>
      <span style="margin: 0 5px;">{{ user.name }}</span> |
      <span (click)="logout()">Log out</span>
    </div>
    <div *ngIf="checkUser == true" class="avatar">
      <span class="login" (click)="openLogin()">Login</span> | 
      <span class="login" href="membership">Register</span>
    </div>
  </ul>
</nz-affix>
<router-outlet></router-outlet>
<app-login #modalLogin [isVisible]="isVisible" (cancel)="handleCancel()" (submit)="handleSumit()"></app-login>