<nz-affix [nzOffsetTop]="0">
  <ul nz-menu nzMode="horizontal" nzTheme="dark" [nzInlineCollapsed]="isCollapsed" style="text-align: center;">
    <img src="../../../assets/HBQHM.png" alt="LogoHBQHM" class="logo">
    <img src="../../../assets/LogoText.png" alt="LogoHBQHM" class="logo_text nav-item">
    <li nz-menu-item routerLink="movie" class="nav-item">
      <span>Movie</span>
    </li>
    <li nz-menu-item routerLink="showtimes" class="nav-item">
      <span>Showtimes</span>
    </li>
    <li nz-menu-item routerLink="promotion" class="nav-item">
      <span>Promotion</span>
    </li>
    <li nz-menu-item routerLink="membership" class="nav-item">
      <span>Membership</span>
    </li>
    <li nz-menu-item routerLink="support" class="nav-item">
      <span>Support</span>
    </li>
    <div class="avatar">
      <nz-avatar [nzSize]="50"></nz-avatar>
      <span style="margin: 0 5px;">Username</span>
    </div>
  </ul>
</nz-affix>
<router-outlet></router-outlet>