<nav class="wrapper">
  <ul nz-menu nzMode="horizontal" nzTheme="dark" [nzInlineCollapsed]="isCollapsed" style="text-align: center;">
    <img src="../../../assets/HBQHM.png" alt="LogoHBQHM" class="logo">
    <img src="../../../assets/LogoText.png" alt="LogoHBQHM" class="logo_text">
    <li nz-menu-item routerLink="movie">
      <span>Movie</span>
    </li>
    <li nz-menu-item routerLink="showtimes">
      <span>Showtimes</span>
    </li>
    <li nz-menu-item routerLink="promotion">
      <span>Promotion</span>
    </li>
    <li nz-menu-item routerLink="membership">
      <span>Membership</span>
    </li>
    <li nz-menu-item routerLink="support">
      <span>Support</span>
    </li>
    <div class="avatar">
      <nz-avatar [nzSize]="50" nzIcon="user"></nz-avatar>
    </div>
  </ul>
</nav>
<router-outlet></router-outlet>