<div class='social-links'>
    <div class='social-btn flex-center' id="twitter">
        <i class="fa-brands fa-twitter"></i>
        <span>@HBQHM</span>
    </div>
    <div class='social-btn flex-center' id="linkedin">
        <i class="fa-brands fa-linkedin"></i>
        <span>in/hbqhm</span>
    </div>
    <div class='social-btn flex-center' id="github">
        <i class="fa-brands fa-github"></i>
        <span>Linhdepzai</span>
    </div>
    <div class='social-btn flex-center' id="facebook">
        <i class="fa-brands fa-facebook"></i>
        <span>linhdepzai</span>
    </div>
    <div class='social-btn flex-center' id="discord">
        <i class="fa-brands fa-discord"></i>
        <span>Linhdepzai</span>
    </div>
    <div class='social-btn flex-center' id="instagram">
        <i class="fa-brands fa-instagram"></i>
        <span>@linhdepzai</span>
    </div>
    <div class='social-btn flex-center' id="youtube">
        <i class="fa-brands fa-youtube"></i>
        <span>linhdepzai</span>
    </div>
</div>