/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
} */

table{
    width: 100%;
    display: block; 
}
thead{
    width: 100%;
    display: block; 
}
tbody{
    width: 100%;
    height: 10rem; 
    display: block; 
    overflow-y: scroll;
}
tr{
  border-top: 0.5px solid rgb(178, 178, 178);
}