<div>
    <span>Setting current tab's defaults: </span>
    <nz-select [(ngModel)]="setting.tabSelectedIndex" (ngModelChange)="onChangeSelectTabDefault($event)">
      <nz-option nzValue="0" nzLabel="Showtimes"></nz-option>
      <nz-option nzValue="1" nzLabel="Movies"></nz-option>
      <nz-option nzValue="2" nzLabel="Setting"></nz-option>
    </nz-select>
  </div>
  <div>
    <span>Setting position of tabs: </span>
    <nz-select [(ngModel)]="setting.tabPosition" (ngModelChange)="onChangePositionTab($event)">
      <nz-option nzValue="top" nzLabel="Top"></nz-option>
      <nz-option nzValue="left" nzLabel="Left"></nz-option>
      <nz-option nzValue="bottom" nzLabel="Bottom"></nz-option>
      <nz-option nzValue="right" nzLabel="Right"></nz-option>
    </nz-select>
  </div>
  <div>
    <nz-row>
      <nz-col nzSpan="4">
        <span>Setting the gap between tabs: </span>
      </nz-col>
      <nz-col nzSpan="8">
        <nz-slider [nzMin]="0" [nzMax]="100" [(ngModel)]="setting.tabBarGutter"
          (ngModelChange)="onChangeTabBarGutter($event)"></nz-slider>
      </nz-col>
      <div nz-col nzSpan="4">
        <nz-input-number [nzMin]="0" [nzMax]="100" [ngStyle]="{ marginLeft: '16px' }"
          [(ngModel)]="setting.tabBarGutter" (ngModelChange)="onChangeTabBarGutter($event)">
        </nz-input-number>
      </div>
    </nz-row>
  </div>
  <div>
    <span>Setting preset tab bar size: </span>
    <nz-select [(ngModel)]="setting.tabSize" (ngModelChange)="onChangeTabSize($event)">
      <nz-option nzValue="large" nzLabel="Large"></nz-option>
      <nz-option nzValue="small" nzLabel="Small"></nz-option>
      <nz-option nzValue="default" nzLabel="Default"></nz-option>
    </nz-select>
  </div>
  <div>
    <span>Setting style of tabs: </span>
    <nz-select [(ngModel)]="setting.tabType" (ngModelChange)="onChangeTabType($event)">
      <nz-option nzValue="line" nzLabel="Line"></nz-option>
      <nz-option nzValue="card" nzLabel="Card"></nz-option>
    </nz-select>
  </div>
  <div>
    <span>Setting hide all tabs: </span>
    <nz-switch [(ngModel)]="setting.tabHideAll" (ngModelChange)="onChangeHideAll($event)" nzCheckedChildren="Show"
      nzUnCheckedChildren="Hide"></nz-switch>
  </div>