<form [formGroup]="form">
    <nz-form-item>
        <nz-form-label class="form-nz-form-label col-2">Name</nz-form-label>
        <nz-form-control class="col-10">
            <input class="information" nz-input nzPlaceHolder="Enter movie name" formControlName="name" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label class="form-nz-form-label col-2">Time</nz-form-label>
        <nz-form-control class="col-10">
            <nz-space nzDirection="vertical" class="information">
                <nz-input-number-group *nzSpaceItem nzAddOnAfter="minutes" class="information">
                    <nz-input-number class="information" nzPlaceHolder="Enter movie time" formControlName="time"
                        [ngModel]="100" [nzMin]="10" [nzMax]="500" [nzStep]="1"></nz-input-number>
                </nz-input-number-group>
            </nz-space>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label class="form-nz-form-label col-2">Opening Day</nz-form-label>
        <nz-form-control class="col-10">
            <nz-date-picker class="information" formControlName="openingDay"></nz-date-picker>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label class="form-nz-form-label col-2">Country</nz-form-label>
        <nz-form-control class="col-10">
            <input class="information" nz-input nzPlaceHolder="Enter movie country" formControlName="country" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label class="form-nz-form-label col-2">Director</nz-form-label>
        <nz-form-control class="col-10">
            <input class="information" nz-input nzPlaceHolder="Enter movie director" formControlName="director" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label class="form-nz-form-label col-2">Description</nz-form-label>
        <nz-form-control class="col-10">
            <textarea class="information" nz-input rows="2" nzPlaceHolder="Enter movie description"
                formControlName="description"></textarea>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label class="form-nz-form-label col-2">Poster</nz-form-label>
        <nz-form-control class="col-10">
            <input class="information" nz-input nzPlaceHolder="Enter movie poster" formControlName="poster" />
        </nz-form-control>
    </nz-form-item>
    <div style="width: 100%">
        <img *ngIf="form.value.poster !== ''" class="poster" src="{{ form.value.poster }}" alt="Poster">
        <img *ngIf="form.value.poster === ''" class="poster"
            src="https://i.pinimg.com/originals/85/9f/52/859f5219ba0b8d67f399c0db5a648694.jpg" alt="Poster">
    </div>
    <div *ngIf="isEdit" class="footer">
        <button nz-button nzType="primary" (click)="submit()">
            <i class="fa-solid fa-check-double" style="margin-right: 5px;"></i>Submit</button>
    </div>
</form>