<div nz-row>
  <div nz-col [nzSpan]="18" style="text-align: center; padding-right: 10px;">
    <button *ngIf="screen == true" class="custom-btn screen" (click)="screen = false">Screen</button>
    <button *ngIf="screen == false" class="custom-btn screen" (click)="screen = true">{{ getMovieName(times.movieId)
      }}</button>
    <div nz-row [nzGutter]="1">
      <div nz-col [nzSpan]="3" *ngFor="let seat of seats">
        <!-- Ghế đang chọn -->
        <button class="custom-btn seat" *ngIf="checkSeat(seat.seatId)=='blue'" style="background-color: #0061ff;"
          (click)="bookingSeat(seat.seatId)">
          <span>{{ seat.seat }}</span></button>
        <!-- Ghế đã được đặt trước -->
        <button class="custom-btn seat" *ngIf="checkSeat(seat.seatId)=='red'" style="background-color: #e60b09;"
          (click)="bookingSeat(seat.seatId)">
          <span>{{ seat.seat }}</span></button>
        <!-- Ghế VIP -->
        <button class="custom-btn seat" *ngIf="checkSeat(seat.seatId)=='yellow'" style="background-color: #ffd000;"
          (click)="bookingSeat(seat.seatId)">
          <span>{{ seat.seat }}</span></button>
        <!-- Ghế thường -->
        <button class="custom-btn seat" *ngIf="checkSeat(seat.seatId)=='gray'" style="background-color: #b0adb3;"
          (click)="bookingSeat(seat.seatId)">
          <span>{{ seat.seat }}</span></button>
          <!-- Ghế được người khác chọn -->
        <button class="custom-btn seat" *ngIf="checkSeat(seat.seatId)=='green'" style="background-color: #00ff26;"
          (click)="bookingSeat(seat.seatId)">
          <span>{{ seat.seat }}</span></button>
      </div>
    </div>
  </div>
  <div nz-col [nzSpan]="6" style="padding-left: 10px; border-left: 1px solid rgba(0, 0, 0, 0.14);">
    <div *ngFor="let s of showtimes" style="text-align: center;">
      <div style="margin: 1rem;"><img src="{{ getPoster(s.movieId) }}" alt="poster" style="width: 10rem;"></div>
      <div><span>{{ getMovieName(s.movieId) }}</span></div>
      <div>{{ getFormatMovieScreen(s.formatMovieScreen) }} | {{ s.timeStart | date: 'hh:mm dd/MM/YYYY' }} | {{
        getMovieTime(s.movieId) }} phút</div>
    </div>
    <hr style="margin: 1.5rem 0;" />
    <div><span>Customer: </span><span *ngIf="checkUser == false" style="font-weight: normal;">{{ user.name }}</span>
    </div>
    <div><span>Seat: </span>
      <span *ngFor="let book of booking">
        <span style="font-weight: normal;" *ngIf="booking[booking.length-1] !== book">[{{ book.seat }}], </span>
        <span style="font-weight: normal;" *ngIf="booking[booking.length-1] == book">[{{ book.seat }}]</span>
      </span>
    </div>
    <div><span>Price: </span>{{ changeToVND(money) }}</div>
    <div><span>The system will reserve your place for </span>{{ counter }}<span> seconds</span></div>
  </div>
</div>
<hr />
<div nz-row>
  <div nz-col [nzSpan]="15" style="display: flex;">
    <div class="anotate" style="background-color: #ffd000;"></div>
    <span class="text-anotate">VIP</span>
    <div class="anotate" style="background-color: #b0adb3;"></div>
    <span class="text-anotate">Normal</span>
    <div class="anotate" style="background-color: #e60b09;"></div>
    <span class="text-anotate">Reserved</span>
    <div class="anotate" style="background-color: #0061ff;"></div>
    <span class="text-anotate">Choose</span>
  </div>
  <div nz-col [nzSpan]="9" style="text-align: right;">
    <button nz-button nzType="default" style="width: 145.59px;" (click)="handleCancel()">
      <i class="fa-sharp fa-solid fa-rotate-left" style="margin-right: 0.3rem;"></i>Cancel
    </button>
    <button nz-button nzType="primary" style="width: 145.59px;" (click)="handleOk()"
      [disabled]="this.booking.length === 0" [nzLoading]="isLoading">
      <i class="fa-solid fa-user-check" style="margin-right: 0.3rem;"></i>Continue
    </button>
  </div>
</div>
<app-food #modalFood (cancel)="close()" (submit)="foodSubmit()" [createDate]="createDate" [booking]="booking"
  [cinemaId]="cinemaId" [money]="money" [isVisible]="showFood"></app-food>
<nz-modal [nzStyle]="{ width: '27.5rem' }" [(nzVisible)]="showLogin" [nzTitle]="modalTitle" [nzContent]="modalContent"
  [nzFooter]="null" (nzOnCancel)="close()" style="width: 1100px;">
  <ng-template #modalTitle>
    <div style="text-align: center;">Login</div>
  </ng-template>
  <ng-template #modalContent>
    <app-login #modalLogin (cancel)="close()" (submit)="loginSubmit()"></app-login>
  </ng-template>
</nz-modal>