<div>statistic for the month</div>
<nz-card>
    <div nz-card-grid style="width: 25%; text-align: center;">
        <nz-statistic [nzValue]="strCountMoneyBill" [nzTitle]="'Revenue for the month'"></nz-statistic>
    </div>
    <div nz-card-grid style="width: 25%; text-align: center;">
        <nz-statistic [nzValue]="strCountMoneyBill" [nzTitle]="'The best movie of the month'"></nz-statistic>
    </div>
    <div nz-card-grid style="width: 25%; text-align: center;">
        <nz-statistic [nzValue]="strCountMoneyBill" [nzTitle]="'The Best food of the month'"></nz-statistic>
    </div>
    <div nz-card-grid style="width: 25%; text-align: center;">
        <nz-statistic [nzValue]="strCountMoneyBill" [nzTitle]="'The most crowded theater of the month'"></nz-statistic>
    </div>
    <div nz-card-grid style="width: 25%; text-align: center;">
        <nz-statistic [nzValue]="strCountMoneyBill" [nzTitle]="'The hottest time in right now'"></nz-statistic>
    </div>
    <div nz-card-grid style="width: 25%; text-align: center;">
        <nz-statistic [nzValue]="strCountMoneyBill" [nzTitle]="'The worst movie of the month'"></nz-statistic>
    </div>
    <div nz-card-grid style="width: 25%; text-align: center;">
        <nz-statistic [nzValue]="strCountMoneyBill" [nzTitle]="'The worst food of the month'"></nz-statistic>
    </div>
    <div nz-card-grid style="width: 25%; text-align: center;">
        <nz-statistic [nzValue]="strCountMoneyBill" [nzTitle]="'The theaters at least in a month'"></nz-statistic>
    </div>
</nz-card>
<div>statistic for the year</div>