<nz-layout>
    <nz-header class="header">Movie</nz-header>
    <nz-layout>
        <nz-sider class="sider"></nz-sider>
        <nz-content>
            <div style="background: #001529;">
                <div nz-row [nzGutter]="20">
                    <div *ngFor="let movie of movies">
                        <div nz-col [nzSpan]="8" routerLink="movie-detail-view">
                            <nz-card nzHoverable class="card" [nzCover]="coverTemplate" [nzLoading]="loading">
                                <nz-card-meta nzTitle="{{ movie.name }}"
                                    nzDescription="{{ movie.time }} phút | {{ movie.openingDay | date: 'dd/MM/yyyy' }}">
                                </nz-card-meta>
                            </nz-card>
                            <ng-template #coverTemplate>
                                <img alt="Poster" src="{{ getPoster(movie.mId) }}"
                                    class="poster" (mousemove)="onClick()" (mouseout)="clear()"/>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </nz-content>
        <nz-sider class="sider"></nz-sider>
    </nz-layout>
</nz-layout>